<html>
<head>
	<title></title>
</head>
<nav>
    <ul>
    <li><a href ="/foods">Menu</a></li>
    <li><a href ="/orders">Orders</a></li>
    <li><a href ="/parties">Parties</a></li>
    </ul>
</nav>
<body>
<%= yield %>
</body>
</html>