<h2>Edit Info for Table ID: <%= @party.table_id %></h2>

<form action="/parties/<%=@party.id%>" method="POST">

<label for="party_guests">Number of Guests:</label>
<input id="party_guests"type="number" name='party[guests]' min=1 max=6 value='<%=@party.guests%>'>
<br>

<label for="party_paid">Paid:</label>
<input id="party_paid" type="checkbox" name="party[paid]" value="1">
<br>

<input type="hidden" name="_method" value="patch">
<input type="submit" value="Update This Party">
</form>

<form action="/parties/<%=@party.id%>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Party">
</form>
