<h1>Current Open Parties</h1>
<h3><a href="/parties/new">Create A New Party</a></h3>
<ul>

<% @parties.where(paid: 'f').each do |party| %>
  <li>Party Name: <a href="/parties/<%= party.id %>"><%= party.party_name %></a></li>
<% end %>
</ul>