<h1>Current Tables</h1>
<h3><a href="/parties/new">Create A New Party</a></h3>
<ul>
<% @parties.each do |party| %>
  <li>Table Number: <a href="/parties/<%= party.id %>"><%= party.table_id %></a></li>
<% end %>
</ul>