<h2>Add A New Party</h2>

<form action="/parties" method='POST'>
	<label for="table_id">Table Number:</label>
	<select name="party[table_id]">
		<% @available.each do |avail| %>
		<option id="table_id" type="number" value="<%= avail %>"><%= avail %> </option>
		<% end %>
	</select>
	<br>
	<label for="party_guests">Number of Guests:</label>
	<input id="party_guests" type="number" name='party[guests]' min=1 max=6 ><br>
	<label for="party_name">Party Name:</label>
	<input id="party_name" type="text" name='party[party_name]'>
	<label for="party_employee_id">Server:</label>
	<select name='party[employee_id]'>
		<option id="employee_id" type="number" value="1">Flo</option>
		<option id="employee_id" type="number" value="2">Marge</option>
		<option id="employee_id" type="number" value="3">Bill</option>
		<option id="employee_id" type="number" value="4">Wally</option>
	</select>
	<input type="submit" value="Add Party">
	</form>