<h2>Create a New Order for Table: <%=@party.table_id%></h2>

<% @party.guests.times do %>
<form action="/orders" method='POST'>
	<input type="hidden" name="order[party_id]" value="<%=@party.id%>">
	<% end %>
	<select name ="order[food_id]">   <!-- needs party.id -->

		<% @foods.each do |food| %>

		<option value="<%= food.id %>"> <%= food.name %> </option>

		<% end %>

	</select>
	<br>
	<br>
	<input id="order_comped" type="checkbox" name="order[comped]" value="true">Comped?</input>
	<br>
	<br>
	<input type="submit" value="Submit Order">

</form>
